
body{
	background-color: #e8e8e8;
	margin:0px;
	font-size: 3.4em;


}

#title{
	font-size:1.5em;
	font-weight: bold;
	text-align: center;
	margin-top: 2vh;	
}

#console{
	display: block;
	background-color: #223;
	color: #eee;
	padding: 10px;
	height: 33vh;
	overflow-y: scroll;
	scroll-behavior: bottom;	

}

.button{
	display: block;
	background-color:#eee;
	border:solid 1px #449;
	vertical-align: True;
	padding: 10px;
	text-align: center;
	margin:10px;
	box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;

}

.rec{
	background-color: #e8a;
	animation-name: recPulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}

@keyframes recPulse {
	0% {
	background-color: #e8a;
	}
	50% {
	background-color: #f06;
	}
	100% {
	background-color: #e8a;
	}
}

.sending{
	background-color: #aea;
	animation-name: sendingPulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}
@keyframes sendingPulse {
	0% {
	background-color: #ccff8f;
	}
	50% {
	background-color: #00ffdb;;
	}
	100% {
	background-color: #ccff8f;
	}
}

.tab{
	margin-left: 40px;
}

.orthography{
	font-style: italic;
	color:#ff7efd;
}

#send:active{
	background-color: #75f7cc;
}

.disabled{
	color: #888;
}

