
body{
	background-color: #e8e8e8;
	margin:0px;
	font-size: 3.4em;

}

#title{
	font-size:1.5em;
	font-weight: bold;
	text-align: center;
	margin-top: 2vh;	
}

#console{
	display: block;
	background-color: #223;
	color: #eee;
	padding: 10px;
	height: 33vh;
	overflow-y: scroll;
	scroll-behavior: bottom;	
	text-align: left;
}

.button{
	display: block;
	background-color:#eee;
	border:solid 3px #449;
	padding: 10px;
	text-align: center;
	box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 40px;
	margin-top:0px;
}







.rec{
	background-color: #e8a;
	animation-name: recPulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}

@keyframes recPulse {
	0% {
	background-color: #e8a;
	}
	50% {
	background-color: #f06;
	}
	100% {
	background-color: #e8a;
	}
}

.sending{
	background-color: #aea;
	animation-name: sendingPulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}
@keyframes sendingPulse {
	0% {
	background-color: #ccff8f;
	}
	50% {
	background-color: #00ffdb;;
	}
	100% {
	background-color: #ccff8f;
	}
}

.tab{
	margin-left: 40px;
}

.orthography{
	font-style: italic;
	color:#ff7efd;
}

.disabled{
	color: #888;
}

.txtField {
  width: 95%;
  position: absolute;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:inherit;
  margin:10px;
  padding:45px;
	
}

.txtFieldThicc{
	display: block;
	width: 100vw;
	vertical-align: True;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 3px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size:inherit;
}



.fltButton {
	right:0px;
	float: right;
	font-size: inherit;
	color:blue;
	position: absolute;
	z-index: 10;
	text-align: right;
	background-color:#eee;
	border:solid 1px #449;
	vertical-align: True;
	text-align: center;
	margin:10px;
	box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	padding:43px;

}

#newParticipant{
	text-align: center;
  	color:#ccc;
	background-color: #223;
	width:100%;
  	height: 100%;
	position: absolute;
	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
}

#submitNewParticipant{
	background-color:#ccc;
	color:#223;
  padding:50px;
}

#pID{
	font-size: inherit;
}

.reply{
	color:#2d447b;
	background-color: #CCFFEA;
	padding:15px;
	border-radius: 10px;
}
